.vscode
*.exe
build
trash
*.o
*.d
*.dep
*.pro.user
*.pro.shared
.dep
.project
.cproject
.settings/language.settings.xml
.DS_Store
workspace.code-workspace
*.tmp
*.pyc
*.swp
*.out
.clang-format
.tags
.env