$RECYCLE.BIN/
*.Cache
*.DS_Store
*.Debug
*.PrjPcbStructure
*.Release
*.Spotlight-V100
*.TMP
*.Trashes
*.app
*.appx
*.autosave
*.bak
*.d
*.dep
*.dex
*.egg
*.egg-info
*.elf
*.exe
*.ffs_db
*.gdbinit
*.kicad_pcb-bak
*.ko
*.ko.cmd
*.lss
*.map
*.mod.c
*.o
*.o.cmd
*.obj
*.out
*.pro.shared
*.pro.user
*.pyc
*.sage.py
*.sln.docstates
*.sln.iml
*.so
*.so.*
*.stash
*.swp
*.sym
*.tmp
*.tmp_proj
*.user
*.user*
*.userprefs
*.ver
*/Debug/
*/History/
*/History/*
*/Project Logs*
*/Project Outputs*
*/__Previews/
*/__Previews/*
*/build/*
*Project Logs*
*Project Outputs*
.DS_Store
.builds
.cache
.clang-format
.classpath
.coverage.*
.cproject
.dep
.dep/*
.deps/
.env
.gradle/
.idea/
.mxproject
.project
.settings/language.settings.xml
.tags
.vscode
.vscode/*
/config.*
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user*
CMakeScripts
History*
build
build*
build*/
build-*
build-/
build/
build/*
cmake-build-debug/
cmake-build-release/
cmake_install.cmake
cmake_uninstall.cmake
debug*
debug.log
package-lock.json
publish/
release*
trash
workspace.code-workspace